@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:ital,wght@0,400;1,700&display=swap');

@font-face {
    font-family: Zapfino;
    src: url(../assets/fonts/ZapfinoExtraLT-One.otf);
}

:root {
    --mainWhite: #fff;
    --mainDark: #231f20;
    --mainGold: #ad974f;
    --mainLight: #505962;
    --mainLighter: #eaeaea;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

/* ****************** NAV ****************** */

.navbar {
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav li {
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    white-space: nowrap;
    color: var(--mainWhite);
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--mainGold)
}

/* ****************** HEADER ****************** */

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.header-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url(/assets/images/home/header.jpeg);
    filter: brightness(30%);
}

.header-text {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
    color: var(--mainWhite);
    text-transform: uppercase;
}

.header-text h1 {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.header-text h3 {
    font-size: 1.4rem;
    text-shadow: .1rem, .1rem, .5rem black;
    padding-bottom: 1.6rem;
}

/* ****************** ABOUT ****************** */

/* ****************** OFFERS ****************** */

.offers {
    background-color: var(--mainLighter) !important;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

/* ****************** SERVICES ****************** */

.services-background {
    position: relative;
    width: 100%;
}

.services-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.services-inner {
    background-image: url(/assets/images/home/service.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.services-dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}

/* ****************** TEAM ****************** */

.team {
    background-color: var(--mainLighter);
}

.team p {
    margin: 0;
    font-style: italic;
    color: var(--mainDark);
    text-decoration: none;
}

.team a {
    color: var(--mainGold);
}

.team a:hover {
    color: var(--mainGold);
}

/* ****************** PARTNERS ****************** */

.partners img {
    width: 60%;
}

/* ****************** CONTACT ****************** */

.footer {
    background-color: #231f20;
    color: white;
}

.footer p {
    margin: 0;
    font-style: italic;
}

.footer img {
    height: 3rem;
    margin: 1.5rem 0;
}

.footer a {
    color: white;
}

.footer svg.svg-inline--fa {
    font-size: 2.5rem;
    margin: 1.5rem;
}

.footer a:hover {
    color: var(--mainGold);
}

.footer svg.svg-inline--fa:hover {
    color: var(--mainGold);
}

.footer svg.svg-inline--fa:active {
    color: var(--mainGold);
}

.footer-copy {
    padding-bottom: 1rem;
}

/* ****************** UTILITIES ****************** */

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    opacity: 0.90;
}

.underline {
    width: 3rem;
    background-color: var(--mainGold);
}

.underline-long {
    width: 100%;
    background-color: var(--mainGold);
}

.text-gold {
    color: var(--mainGold);
}

.text-zapfino {
    font-family: Zapfino;
    font-weight: 400;
    font-size: 3rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

.btn-secondary {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    color: var(--mainWhite);
    background-color: var(--mainDark);
    border-color: var(--mainDark);
}

.btn-secondary:hover {
    color: var(--mainGold);
    background-color: var(--mainDark);
    border-color: var(--mainDark);