//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^swedahousing.com[nc]
RewriteRule ^(.*)$ http://www.swedahousing.com/$1 [r=301,nc]

//Change default directory page
DirectoryIndex index.html